<div hidden id="game_id"><%= @game.id %></div>

<%= react_component("Game", { state: @game.state_for(@player) }) %>

<% if @player.nil? && !@game.started? %>
  <%= form_with model: @player, url: players_path, local: true, class: 'center' do |f| %>
    <%= f.hidden_field :game_id, value: @game.id %>
    <%= f.text_field :name, placeholder: 'Player name' %>
    <%= f.submit 'Join game' %>
  <% end %>
<% end %>

<% if @player && @game.created_by?(@player) && !@game.started? %>
  <%= form_with url: game_commencements_path, local: true, class: 'center' do |f| %>
    <%= f.hidden_field :game_id, value: @game.id %>
    <%= f.submit 'Start game' %>
  <% end %>
<% end %>
